@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/MontserratRegular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/MontserratSemiBold.woff2') format('woff2');
  font-weight: 600;
}


@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/MontserratBold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Mulish';
  src: url('@/assets/fonts/MulishRegular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Mulish';
  src: url('@/assets/fonts/MulishSemiBold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Mulish';
  src: url('@/assets/fonts/MulishBold.woff2') format('woff2');
  font-weight: 700;
}