@use "../utils/mixins";
@use "../utils/variables";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  &__content {
    position: relative;
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    transform: translateY(-20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
  }

  &--active &__content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    & svg {
      fill: variables.$primary-color;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 24px;
    text-align: center;
    color: variables.$font-color-secondary;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  &__submit {
    width: 100%;
  }
}